[Unit]
Description=Gost Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c '/usr/bin/gost -C /etc/gost/config.json 2>&1 | tee -a /var/log/gost/gost.log'
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
